@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-grey-500;
}

input {
  @apply h-9 w-full bg-grey-100 focus:outline-none rounded-lg border border-[#D0D5DD] py-1;
}

td,
th {
  @apply px-8 py-4;
}
tr {
  @apply border-t-2 border-[];
}
.background_img {
  background-image: linear-gradient(to left, #002212b2, #002212b2),
    url("/images/hero_img.jpeg");
  /* background-image: linear-gradient(to left, rgba(255, 0, 0, 0.112), rgba(0, 128, 0, 0.353)),
    url("/images/hero_img.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  font-family: "DM Sans", sans-serif;
}
